/*Styles Header Component*/

.header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    z-index: 100;
    background-color: white;
}

.nav{
    max-width: 1127px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    width: 48px;
    height: 48px;
    color: #0a66c2;
    object-fit: contain;
}

.search_box{
    width: 299px;
    height: 33px;
    margin-left: 8px;
    margin-right: 100px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #eef3f8;
}

.search_box input{
    border: none;
    outline: 0;
    padding-left: 10px;
    height: 33px;
    font-size: 16px;
    transition: all 3ms ease-in-out;
    color: rgba(0, 0, 0, 0.6);
    background: none;
}

/*-------------------------------------------------------------*/

/*Styles Icons Header*/
.header_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    max-width: 80px;
    height: 52px;
    width: 100%;
    margin: 0;
}

.header_icon h3{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.header_icon:hover{
    color: #000;
}

.icon_{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.text_{
    color: #915907;
    font-size: 12px;
    width: 124px;
    text-align: center;
    font-weight: 400;
}

.text_:hover{
    text-decoration: underline;
}

.profile_{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

@media only screen and (max-width: 1000px){
    .search_box{
        width: 300px;
    }

    .icon_, h3{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .search_box{
        width: 100%;
        margin-right: 3px;
    }

    .search_box > input{
        width: 100%;
    }
}